// This file must be imported before loading html5-boilerplate

// base
$base-font-family: unquote("sans-serif");
$base-line-height: 1.231;
$font-color: pink;

// Links
$link-color: inherit;
$link-visited-color: #551a8b;
$link-hover-color: #06e;

// Lists
$list-left-margin: 40px;

// Colors

$darkblue: #081e3f;
$darkdarkblue: darken($darkblue, 5%);
$medblue: #112B52;
$lightblue: #16385e;
$white: #ECECE7;
$red: #E96151;
$green: #526F2F;
$darkgreen: #415E1F;
$beige: green;
$brown: #50432F;
$skyblue: #5880B8;
$grey: #61615D;
$darkgrey: #333;
$lightgrey: #7E7E75;
$belly: #BBBB9A;
$clouddark: #112f55;
$cloudlight: #386690;
$yellow: #EBE2D7;

$transitions:
	color 0.1s ease,
	fill 0.5s ease,
	display 0.1s ease,
	background 0.1s ease,
	opacity 0.1s ease,
	height 0.1s ease,
	-webkit-transform 0.2s ease,	
	text-shadow 0.1s ease;
	
// Keyframes

@mixin stroll {
	50% {
		-webkit-transform: translateX(20em) scaleX(1);
		transform: translateX(20em) scaleX(1);
	}
	50.0001% {
		-webkit-transform: translateX(20em) scaleX(-1);
		transform: translateX(20em) scaleX(-1);
	}
	to { 
		-webkit-transform: translateX(0) scaleX(-1);
		transform: translateX(0) scaleX(-1);
	}
}
@mixin bounce {
	50% {
		-webkit-transform: translateY(100%);
		transform: translateY(100%);
	}
}
@mixin blink {
	49% {
		-webkit-transform: scaleY(1);
		transform: scaleY(1);
	}
	50% {
		-webkit-transform: scaleY(0);
		transform: scaleY(0);
	}
	51% {
		-webkit-transform: scaleY(1);
		transform: scaleY(1);
	}
}
@mixin flicker {
	49% {
		fill: $white;
	}
	50% {
		fill: $darkblue;
	}
	99% {
		fill: $darkblue;
	}
}
// Webkit
@-webkit-keyframes stroll {
	@include stroll;
}
@-webkit-keyframes bounce {
	@include bounce;
}
@-webkit-keyframes blink {
	@include blink;
}
@-webkit-keyframes flicker {
	@include flicker;
}
@keyframes stroll {
	@include stroll;
}
@keyframes bounce {
	@include bounce;
}
@keyframes blink {
	@include blink;
}
@keyframes flicker {
	@include flicker;
}

