// font-face fonts
// see http://compass-style.org/docs/reference/compass/css3/font_face/

//@import "compass/css3/font-face"
@font-face {
    font-family: 'jfont';
    src: url('../fonts/jfont-regular.eot');
    src: url('../fonts/jfont-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/jfont-regular.woff') format('woff'),
         url('../fonts/jfont-regular.ttf') format('truetype'),
         url('../fonts/jfont-regular.svg#jfontregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Billy';
    src: url('../fonts/billy-webfont.eot');
    src: url('../fonts/billy-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/billy-webfont.woff') format('woff'),
         url('../fonts/billy-webfont.ttf') format('truetype'),
         url('../fonts/billy-webfont.svg#billymedium') format('svg');
    font-weight: normal;
    font-style: normal;
}