body, select, input, textarea {
  color: $font-color;
  font-family: sans-serif;
  // Set your base font here, to apply evenly
  // font-family: Georgia, serif;
}

* {
	margin: 0;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: $transitions;
	transition: $transitions;
}
html {
	-ms-overflow-y: scroll;
	    overflow-y: scroll;
    -ms-overflow-x: hidden;
        overflow-x: hidden;
}
body {
	font-size: 20px;
	background-color: $lightblue;
	color: $white;
    -ms-overflow-x: hidden;
        overflow-x: hidden;
  text-rendering: optimizeLegibility;
}
header {
	padding: 2em 2em 0 2em;
	position: relative;
	h1 {
		font-size: 10em;
		font-size: 17vmin;
		letter-spacing: 0.1em;
		font-family: 'jfont', sans-serif;
		position: absolute;
		margin: 0;
		span {
			display: block;
			
		}
	}

}
article {
	padding: 2em 1em 0;
	position: relative;
	.wrapper{
		width: 100%;
	  max-width: 40em;
	  margin: auto;
		-webkit-column-width: 16em;
		-moz-column-width: 16em;
		column-width: 16em;
	}
	p {
		max-width: 50em;
		margin: 1em auto;
		text-align: justify;
		&:first-of-type, &:first-child {
			&:first-letter {
				font-weight: 700;
				font-size: 2.5em;
				line-height: 1;
				margin: 0 0.2em 0 0;
				float: left;

			}
		}
	}
}
svg{
	display: block;
}
img {
	float: none;
	width: 100%;
	margin: 1em 0;
}
.clouds {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
}
#totorosm {
	left: 0;
	bottom: 0em;
	position: absolute;
	-webkit-animation: stroll 25s linear infinite;
	animation: stroll 25s linear infinite;
}
#sign {
	bottom: 0;
	max-height: 24em;
	margin: auto;
}
#cliff {
	position: absolute;
	top: 0;
	width: 100%;
	display: block;
	pointer-events: none;
}
#totoroperch {
	display: block;
	height: 100%;
	width: 130%;
	margin-left: -27%;
	#eyes {
		-webkit-animation: blink 10s infinite;
		animation: blink 10s infinite;
	}
	#eyes {
		-webkit-transform-origin: center center;
		transform-origin: center center;
	}
	#mouth {
		-webkit-transform-origin: center center;
		-webkit-transform: scaleY(0) scaleX(0.9);
		transform-origin: center center;
		transform: scaleY(0) scaleX(0.9);
	}
	#talk {
		-webkit-transform-origin: -30% 90%;
		-webkit-transform: scaleY(0.001) scaleX(0.1);
		transform-origin: -30% 90%;
		transform: scaleY(0.001) scaleX(0.1);
	    opacity: 0;
	}
	&:hover {
		#mouth {
			-webkit-transform: scaleY(1) scaleX(1);
			transform: scaleY(1) scaleX(1);
		}
		#talk {
			opacity: 1;
			-webkit-transform: scale(1);
			transform: scale(1);
		}
	}
}
.container {
	background: linear-gradient( 180deg, $lightblue, $darkblue );
	position: relative;
	text-align: right;
}
.dust {
	position: absolute;
	width: 2%;
	height: 2%;
	pointer-events: none;
	z-index: 50;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-filter: drop-shadow(0 0 0.5em);
	filter: drop-shadow(0 0 0.5em);
	&:nth-child(2n) {
		width: 2.5%;
		height: 2.5%;
		z-index: 30;
	}
	&:nth-child(3n) {
		width: 3%;
		height: 3%;
		z-index: 50;
	}
	&:nth-child(4n) {
		width: 4%;
		height: 4%;
		z-index: 70;
	}
	&:nth-child(1) {
		left: 10%;
		top: 10%
	}
	&:nth-child(2) {
		left: 22%;
		top: 80%
	}
	&:nth-child(3) {
		left: 86%;
		top: 55%
	}
	&:nth-child(4) {
		left: 42%;
		top: 42%
	}
	&:nth-child(5) {
		left: 50%;
		top: 50%
	}
	&:nth-child(6) {
		left: 23%;
		top: 10%
	}
	&:nth-child(7) {
		left: 62%;
		top: 80%
	}
	&:nth-child(8) {
		left: 68%;
		top: 10%
	}
	&:nth-child(9) {
		left: 72%;
		top: 70%
	}
	&:nth-child(10) {
		left: 5%;
		top: 40%
	}
	&:nth-child(11) {
		left: 90%;
		top: 40%
	}
}
object {
	display: block;
}

footer {
	background-color: $medblue;
	color: $white;
	padding: 2em;
	display: block;
	width: 100%;
	h3 {
		font-size: 3em;
		font-weight: bold;
	}
	h3, p {
		margin: 0;
	}
}


///  ---------------  ///
///  Nighttime Theme  ///
///  ---------------  ///

	.clouds {
		path:nth-of-type(odd) {
			fill: $cloudlight;
		}
		path:nth-of-type(even) {
			fill: $clouddark;
		}
	}
	#mouth {
		fill: $white;
	}
	#nose {
		fill: darken($darkblue, 5%);
	}
	#belly {
		path {
			fill: $darkblue;
			&:first-child {
				fill: $lightblue;
			}
		}
	}
	#tree {
		path:nth-child(1) {
			fill: $darkblue;
		}
		path:nth-child(2) {
			fill: $medblue;
		}
		path:nth-child(3) {
			fill: $darkdarkblue;
		}
	}
	#trunk {
		fill: $darkblue;
	}
	#house {
		fill: $darkdarkblue; 
		#roof {
			fill: $darkblue;
		}
		#light {
			fill: $white;
		}
	}
	#grass {
		fill: $medblue;
	}
	#bush {
		fill: $darkblue;
	}
	#talk {
		polygon {
			fill: $white;
		}
		path {
			fill: $darkblue;
		}
	}
	#eyes {
		fill: $white;
		ellipse:nth-child(even) {
			fill: $darkblue;
		}
	}
	#totorobody, #tail {
		fill: $darkblue;
	}
	#shading {
		fill: $medblue;
	}
	#sign {
		rect {
			fill: $darkblue;
		}
		#bus {
			fill: $darkdarkblue;
			#plate {
				path {
					fill: $white;
				}
				circle {
					fill: $darkblue;
				}
			}
			#grate rect {
				fill: $darkdarkblue;
			}
		}
		#lamp {
			fill: $darkdarkblue;
			#shield {
				fill: $darkblue;
			}
		}
	}
	.dustbody {
		fill: $darkdarkblue;
	}
	.white {
		fill: $white;
	}
	.white {
		dark: $darkdarkblue;
	}
	#totorosm {
		fill: $darkdarkblue;
		#smeyeball {
			fill: $white;
		}
		#smpupil {
			fill: $darkblue;
		}
		#bag {
			fill: $darkblue;
		}
	}
///  -------------  ///
///  Daytime Theme  ///
///  -------------  ///

body.day {
	background-color: #a88;
	header {
		background: $beige;
		padding: 2em;
		color: $yellow;
	}
	article {
		background-color: $beige;
		color: darken($beige, 50%);
	}
	.container {
		background: linear-gradient( 0deg, lighten($beige, 10%), $beige);
	}
	#sign {
		display: none;
	}
	#totorosm {
		display: none;
	}
	.clouds {
		path:nth-of-type(odd) {
			fill: $yellow;
		}
		path:nth-of-type(even) {
			fill: $yellow;
		}
	}
	.light {
		fill: $medblue;
	}
	#mouth {
		fill: $white;
	}
	#nose {
		fill: darken($darkblue, 5%);
	}
	#belly {
		path {
			fill: $darkgrey;
			&:first-child {
				fill: $belly;
			}
		}
	}
	#tree {
		path:nth-child(1) {
			fill: $darkgreen;
		}
		path:nth-child(2) {
			fill: $green;
		}
		path:nth-child(3) {
			fill: darken($darkgreen, 5%);
		}
	}
	#trunk {
		fill: darken($brown, 5%);
	}
	#house {
		fill: darken($brown, 5%); 
		#roof {
			fill: $brown;
		}
		#light {
			fill: darken($brown, 10%);
		}
	}
	#grass {
		fill: $green;
	}
	#bush {
		fill: $darkgreen;
	}
	#talk {
		polygon {
			fill: $white;
		}
		path {
			fill: $grey;
		}
	}
	#eyes {
		fill: $white;
		ellipse:nth-child(even) {
			fill: $darkblue;
		}
	}
	#totorobody, #tail {
		fill: darken($grey, 10%);
	}
	#shading {
		fill: $grey;
	}
	.dust {
		display: none;
	}
	#totorosm {
		fill: $darkdarkblue;
		#smeyeball {
			fill: $white;
		}
		#smpupil {
			fill: $darkblue;
		}
		#bag {
			fill: $darkblue;
		}
	}

	footer {
		background-color: $green;
	}
}
